<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Создание библиотеки</title>
    </head>
    <body>
        <h1>Введи данные, чтобы создать новую библиотеку</h1>
        <br>
        <form method="post" action="/1.2-ok">
            <p>Имя библиотеки:</p>   <input type="text" name="PCB_Lib_name"><br>
            <p>Сколько будет в ней компонентов:</p>  <input type="text" name="PCB_Foot_count"><br>
            <p>Имя соответствующей библиотеки УГО:</p>  <input type="text" name="YGO_Lib_name"><br>
                    <input type="submit" value="Создать библиотеку">
        </form>
    </body>
</html>