<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <style>
            .square {
                position: absolute;
                top:  50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 200px;
                width: 300px;
                background-color: #bdb0b05b;
                text-align: center;
                border-radius: 50px;
            }
        </style>
        <title>Ввод данных через файл</title>
    </head>
    <body>
        <div class="square">
            
        </div>
    </body>
</html>