<center> <h1>Задание 1: select</h1> </center>
<P>
<H2>Введите параметры регистрируемой машины:</H2>
<form method="post">
    <i>Выберите процессор регистрируемой машины - </i>
    <select name='proto' size=1>
        <option value="2C3">2C3</option>
        <option value="8CV">8CV</option>
        <option value="E16C">E16C</option>
        <option value="E32C">E32C</option>
    </select><br>

    <i>Выберите дальнейшее место нахождение машины - </i>
    <select name='location' size=1>
        <option value="warehouse">Склад</option>
        <option value="serverroom">Серверная</option>
        <option value="stand">Стенд тестирования</option>
    </select><br>
<p>
<input type='submit' value='Зарегистрировать машину'>
</form>